*~
*.py~
*.pyc
.DS_Store
.settings/
.vscode/
.actionScriptProperties
node_modules/
node/
dist/
bin/
bin-debug/
bin-release/
*.zip

build/local.properties
build/target

plugins/*/build/
plugins/*/dist/
plugins/*/plugin-build.properties
plugins/*/C:/
/plugins/ova/examples

core/build/
core/dist/
core/build.properties
core/src/samba.player/js.flow/*
core/src/samba.player/swf/*.swf
core/src/samba.player/samba.player.zip

lib/devkit/flowplayer.swc
lib/devkit/ga.swc

playground/playground/media/player/
playground/playground/local_settings.py

target/*

v2/stats.json

node/
node_modules/
dist/
tmp/
